iframe {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 70%;
    position: relative;
}

.cabec {
    height: 20%;
    position: relative;
    vertical-align: middle;
    text-align: justify;
}

.contButt {
    display: table;
    width: 100%;
    height: 10%;
    position: relative;
}

.button {
    display: table-cell;
    width: 25%;
    position: relative;
    vertical-align: middle;
    text-align: center;
}
